/*
@font-face {
  font-family: "GIll";
  src: url("fonts/Gill Sans MT.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.ttf") format("truetype");
}
*/

:root {
    --color-fg: lab(98.647% -5.2601 21.875);
    --color-bg: lab(25.285% -98.947 -44.961);
}

/*
:root {
  --color-bg: color(display-p3 0.322 0.111 0.822);
  --color-fg: hsl(170 0% 100%);
}
*/

html
{
    height: 100%;
    width: 100%;
    font-family: "Lato", Sans;
    font-size: 1.1em;
    padding: 0;
}

body
{
    background-color: var(--color-bg); /* #BBB; */
    background-size: cover;
    padding: 0;
    width: 100%;
    margin:0;
    color: var(--color-fg);
    /* background-image: url(images/bg01.jpg);
    background-blend-mode: multiply;
    */
}

h1
{
    font-family: 'lato', sans-serif;
    font-size: 2em;
    letter-spacing: 0.2em;
}

.follow
{
    float: left;
    margin-right: 10px;
}


a:link {color:var(--color-fg);}      /* unvisited link */
a:visited {color:var(--color-fg);}  /* visited link */
a:hover {color:var(--color-bg);}  /* mouse over link */
a:active {color:var(--color-bg);}

#flex-container
{
    display:flex;
    flex-flow: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
}

#wrap
{
    margin: 0;
	width: 100%;
}

#container
{
	margin-left: auto;
	margin-right: auto;
	padding: 0;
    display: flex;
    flex-direction: column;
}

#header, #footer
{
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-fg);
    color: var(--color-bg);
}

#footer
{
    padding-top: 10px;
    padding-bottom: 10px;
}


.nounderline
{
    text-decoration: none;
}

#links
{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

#ext_links
{
    display: block;
    margin-bottom: 10px;
}

.link
{
    border-radius: 0px;
	background-color: var(--color-gg);
    color: var(--color-fg);
    padding: 5px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    line-height: 1.2em;
    margin-bottom: 5px;
    border: 2px solid var(--color-fg);
}

.link:hover, .link_hover
{
    background-color: var(--color-fg);
    color: var(--color-bg);
    border: 2px solid var(--color-fg);
    /* transition: background-color 500ms ease-out;*/
}


@media screen and (max-device-width : 1204px)
{
    #container
    {
        font-size: 0.85em;
        margin-top: 0;
    	padding-top: 0;
        width: 100%;
    }
    .link
    {
        padding: 10px;
        display: block;
    }
    #links
    {
        margin-bottom: 5px;
    }
}

@media screen and (min-width : 901px)
{
    #container
    {
        width: 40%;
    }
}

@media screen and (max-width : 900px)
{
    #container
    {
        width: 90%;
    }
}